body {
    background-color: bisque;
}

#image {
    float: right;
    display: none;
    padding: 20px;
}

#result {
    padding: 30px;
    animation-fill-mode: forwards;
}

h1 {
    text-align: center;
    font-weight: 900;
    color: rgb(187, 39, 39);
    font-size: 100px;
    
}

p {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.text {
    font-size: 25px;
}